*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    max-width: 1170px;
}
.hero_section {
    width: 100%;
    /* max-width: 767px; */
    /* height: 600px; */
    background-image: url(./images/mobile-frame.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    padding: 55px 50px 45px 40px;
}
header {
    background: #FFE800;
    height: 60px;
    position: relative;
    border-radius: 28px 28px 0 0;
}

.logo img {
    width: 100%;
    max-width: 90px;
    display: block;
    position: absolute;
    left: 10%;
    transform: translate(-10%, 0);
    z-index: 9;
}

.main_product_block {
    position: relative;
}
.main_product_block .main_bg_image {
    width: 100%;
    height: 500px;
    border-radius: 0 0 28px 28px;
}

.main_product_block p.short_line {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0px);
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    max-width: 650px;
    text-align: center;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.main_product_block .glass_image {
    position: absolute;
    right: 130px;
    bottom: 50px;
    width: 100%;
    max-width: 270px;
}
.dynamic_content {
    position: absolute;
    top: 0;
    right: 15%;
    transform: translate(-15%, 0px);
}
.dynamic_content h3 {
    font-size: 40px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    color: #2E8025;
    background-image: -webkit-linear-gradient(90deg, #2E8025 24%, #000 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slider_section{
    padding: 41px 25px 38px 7px;
}
.swiper-container {
    width: 100%;
    max-width: 990px;
    height: 440px;
    border-radius: 40px;
}
/* section {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }
  
  .hidden {
    display: none;
  } */
/* -- */
  
      
      .swiper-slide {
        background-size: cover;
        background-position: 50%;
        min-height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      
      .swiper-pagination-bullet {
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        opacity: 1;
      }
      .swiper-pagination-bullet-active {
        background-color: #fff;
      }
      
      .swiper-button-container {
        background-color: rgba(0, 0, 0, 0.25);
      }
      .swiper-button-prev {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
      }
      .swiper-button-next {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
      }
      
      body {
        display: flex;
        height: 100vh;
        width: 100%;
        font-family: "San Francisco Display Semibold";
      }
      
      .swiper-slide:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.4;
      }
      .swiper-slide h2 {
        pointer-events: none;
        opacity: 0;
        color: #ffffff;
        font-size: calc(5vw);
        letter-spacing: -1px;
        transform: translateY(-5%) scale(0.8);
        transition: 1s ease;
        text-transform: uppercase;
        text-shadow: 0 5px 5px rgba(0, 0, 0, 0.01);
      }
      .swiper-slide-active h2 {
        opacity: 1;
        transform: translateY(0%) scale(1);
        transition: 1s ease;
      }
      
      @font-face {
        font-family: "San Francisco Display Semibold";
        font-style: normal;
        font-weight: 400;
        src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.svg#San Francisco Display Semibold") format("svg");
      }